@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h1 class="mb-4">@Model.Walker.Name</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Font_Awesome_5_regular_user-circle.svg" />
        <div>
            <label class="font-weight-bold">Address:</label>
            <span>@Model.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Dogs</h1>

            <div class="row">
                @foreach (Walk walk in Model.Walks)
                {
                    <div class="card m-4" style="width: 18rem;">
                        
                        <div class="card-body">
                            <div>
                                <label class="font-weight-bold">Date:</label>
                                <span>@walk.Date</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Breed:</label>
                                <span>@walk.Duration</span>
                            </div>
                            
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
